*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
/* Head */
.header{

    width: 100%;
    height: 250px;
   text-align: center;
   background-color: cornflowerblue;

}
.header_img{
    width: 1120px;
    height: 250px;

}

/* nav */
.navbar-start {
    margin-left: auto;
    margin-right: unset !important;
  }
.bg_blue{
    
    background-color: #2185E5;
}
#navbarsExample07 li{
  text-align: center;
  width: 120px;
}
.home{
  background-color: #0D71D1;
}
.show{
  width: 200px;
  font-size: 13px;
}
.triangle{
  margin: 6px -15px 0 0;
  float: right;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #7a7a7a;
}
.search{
  margin-top: 5px;
  height: 30px;
  border-radius: 80px;
}

#navbarsExample07 li a:hover{
	background-color: #0D71D1;
}
.home:active{
	background-color: #0D71D1;
}

/* card*/
.card img{
  width: 160px;
  height: 160px;
  margin: 0 auto;
}
.card-content{
  width: 200px;
  height: 50px;
  margin: 0 auto;
  display: -webkit-box;             /*将对象转为弹性盒模型展示*/
  -webkit-box-orient: vertical;     /*设置弹性盒模型子元素的排列方式*/
  -webkit-line-clamp: 2;            /*限制文本行数*/
  overflow: hidden;                 /*超出隐藏*/
}
.card-body a{
  color: black;
  list-style: none;
}
.card-body a:hover{
  color: coral;
}
.product-tag{
    background: #fff0e6;
    padding: 2px 6px;
    font-size: 12px;
    color: #f60;
    border-radius: 4px;
    display: inline-block;
    margin: 0 0 0 20px;
}
.card-text{
  margin: 24px 0 0 20px;
}
.text-muted{
  color: black;
  width: 160px;
  font-weight: 800;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*Woods*/
.woods{
  background-image: url("../image/wood.png");
  background-repeat:no-repeat;
  
}
.tag-text{
  display: inline-block;
  color: #666;
  font-size: 12px;
  line-height: 16px;
  background: hsla(0,0%,100%,.7);
  border-radius: 3px;
  margin: 10px 6px;
  padding: 6px 25px;
}
.textOne{
  color: #f60;
}
.tag-icon{
  background: url("../image/tag-icon.png")3px no-repeat;
}
.tag-text{
  border-color: hsla(0,0%,100%,.7);;
  background: hsla(0,0%,100%,.7);
  font-size: 12px;
}
.tag-text:hover{
  background: hsla(0,0%,100%,.7);
}
.lead-tag{
  text-align: center;
}
.lead a{
  color: aliceblue;
}